.container{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 0 auto;
}
.child-box{
    margin-right: 30px;
    width: 30px;
    border: 2px solid;
    text-align: center;
    position: relative;
}
.text-node{
    position: absolute;
    bottom: -25px;
}

.histo-chart{
    border-left:3px solid;
    border-bottom:3px solid;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 10px;
}
.ranges{
    display: flex;
    flex-direction: column-reverse;
    height: inherit;
    justify-content: space-between;
    margin-right: 10px;
}