.carousal{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid;
    position: absolute;
}

img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.btns{

        display: flex;
        justify-content: space-between;
        position: relative;
        top: 50%;
}